doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Space Join for MuseScore

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css/output/moretoggles.min.css")
        link(rel="stylesheet", href="style.css")
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js")
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js")
    body.uk-card.uk-card-body.uk-card-default
        h1 local memo ~ローカルストレージを試す~
        p 情報は基本的にローカルに保存しているので、セキュリティの観点から見てもいいかもしれません

        script(src="./bundle.js")
